* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --bg-light: #f9f4fb;
  --purple: #b52184;
  --blue: #312d64;
  --gradient: linear-gradient(134deg, #343193 0%, #302c63 100%);
}

button,
input,
textarea {
  font-family: 'Mulish', sans-serif;
}

body {
  text-align: center;
  background-color: var(--bg-light);
  font-family: 'Mulish', sans-serif;
}

.cover {
  width: 100%;
  height: 100vh;
}

.cover img:nth-child(1) {
  width: 36.4rem;
  margin-bottom: 1.7rem;
}

.cover h1 {
  font-size: 3.2rem;
  font-weight: 900;
  color: var(--purple);
  margin-bottom: 0.5rem;
}

.cover p {
  font-size: 2rem;
  font-weight: 600;
  color: var(--blue);
  margin-bottom: 3.5rem;
}

.cover img:nth-child(2) {
  width: 6rem;
}

main {
  background: var(--gradient);
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  padding: 5rem 4rem;
}

main .card {
  background-color: white;
  border-radius: 2rem;
  box-shadow: 0px 3.3107693195343018px 13.243077278137207px 0px
    rgba(0, 0, 0, 0.25);
  padding: 2.65rem;
  text-align: start;
}

main .card img {
  width: 8rem;
  margin-bottom: 3.3rem;
}

main .card h2 {
  font-size: 3rem;
  font-weight: 900;
  color: var(--purple);
}

main .card p {
  max-width: 26.5rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--blue);
}

section {
  padding: 7rem 4rem;
  text-align: start;
}

section h1 {
  font-size: 3.2rem;
  font-weight: 900;
  color: var(--purple);
  margin-bottom: 4.3rem;
}

section form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

section form .input-wrapper {
  border-radius: 1.6rem;
  border: 1px solid var(--blue);
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 1.2rem 1.6rem 1.2rem 1.4rem;
  width: 100%;
}

section form .input-wrapper textarea,
section form .input-wrapper input {
  background-color: transparent;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--blue);
  width: 100%;
  outline: none;
}

section form .input-wrapper textarea {
  height: 13rem;
}

section form button {
  margin-top: 2.4rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: white;
  background: var(--gradient);
  padding: 1.6rem;
  width: fit-content;
  border-radius: 1.6rem;
}

section > img {
  display: none;
}

footer {
  background: var(--gradient);
  padding: 2.6rem 1.6rem;
  font-size: 2rem;
  font-weight: 600;
  color: white;
}

@media (min-width: 1024px) {
  .cover {
    display: grid;
    grid-template-areas: 'A B';
    padding-left: 10.9rem;
  }

  .cover img:first-child {
    width: clamp(36.4rem, 10rem + 30vw, 72rem);
    grid-area: B;
  }

  .cover > div {
    grid-area: A;
    min-width: 45vw;
    display: flex;
    flex-direction: column;
    gap: 18rem;
  }

  .cover > div > div {
    margin-top: 31rem;
    text-align: start;
  }

  .cover > div > div h1 {
    font-size: 6rem;
    margin-bottom: 0.8rem;
  }

  .cover > div > div p {
    font-size: 3.2rem;
    margin-bottom: 0;
  }

  main {
    width: 100%;
    flex-direction: row;
    padding: 6.4rem 11.1rem;
    align-items: stretch;
  }

  main .card {
    padding: 3.2rem;
  }

  main .card img {
    width: 9.7rem;
  }

  main .card h2 {
    font-size: 3.5rem;
    margin-bottom: 2.4rem;
  }

  main .card p {
    max-width: none;
    font-size: 1.9rem;
  }

  section {
    padding: 9.5rem 10.9rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9.2rem;
    position: relative;
  }

  section h1 {
    font-size: 4.2rem;
  }

  section > img {
    content: url('./assets/starsBackground.svg');
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;

    width: 50%;
    max-height: 100%;
  }
}
